<stk-simple-select [config]="config" [group]="formgroup"></stk-simple-select>
<ng-container *ngIf="(resourceData$ | async)?.resources as resources">
    <ng-template appRenderer [renderInfo]="resources.consumerProduct"></ng-template>
</ng-container>
<div debug class="explanation">
    <div><strong>Loan type cmp render info</strong>
        <pre>{{renderInfo | json}}</pre>
    </div>
    <div><strong>Own resource</strong>
        <pre>{{(resourceData$ | async)?.properties | json}}</pre>
    </div>
</div>