<ng-container *ngIf="(subResourceInfo$ | async) as resources">
    <ng-template appRenderer [renderInfo]="resources.productCategory"></ng-template>
    <ng-template appRenderer [renderInfo]="resources.factoryProduct"></ng-template>
    <!-- <ng-template appRenderer [renderInfo]="resources.currency"></ng-template> -->
</ng-container>
<!-- <h3>mortgage p subresources</h3>
<pre>{{subResourceInfo$ | async | json}}</pre> -->
<div debug class="explanation">
    <div><strong>Morgage product cmp render info</strong>
        <pre>{{renderInfo | json}}</pre>
    </div>
    <div><strong>Subresources</strong>
        <pre>{{(subResourceInfo$ | async)?.properties | json}}</pre>
    </div>
</div>
