<ng-container *ngIf="deals$ | async as deals;else loading">
    <div>
        <button (click)="createDeal()" class="pf-c-button pf-m-primary" type="button">Create Deal</button>
    </div>
    <stk-list [iterable]="deals"
        [config]="{listType: 'data', itemTemplate: itemTpl,
            expandable: true, expandItemTemplate: myExpandedTpl}">
    </stk-list>
</ng-container>
<app-paginator></app-paginator>

<ng-template #itemTpl let-item="item">
    <div>
        <p>
            <a [routerLink]="['/deals/' + item.id]">
                <strong>Deal id{{item.id}}</strong>
                <pre class="explanation" debug>{{item | json}}</pre>
            </a>
        </p>
        <small>Application id: {{item?.application?.id}}</small>
        <div class="pf-l-flex pf-m-wrap">
            <div>Product id: {{item?.application?.product?.id}}</div>
            <div>Loan Type: {{item?.application?.product?.loanType?.name}}</div>
        </div>
    </div>
</ng-template>

<ng-template #myExpandedTpl let-item="item">
    <section class="pf-c-data-list__expandable-content">
        <div class="pf-c-data-list__expandable-content-body pf-u-p-md">
            <h3>Party data</h3>
            Name: <strong>{{item?.borrower?.party?.name?.firstName}} {{item?.borrower?.party?.name?.lastName}}</strong>
            
        </div>
    </section>
</ng-template>

<ng-template #loading>
    <span class="pf-c-spinner" role="progressbar" aria-valuetext="Loading...">
        <span class="pf-c-spinner__clipper"></span>
        <span class="pf-c-spinner__lead-ball"></span>
        <span class="pf-c-spinner__tail-ball"></span>
    </span> 
</ng-template>