<ng-container *ngIf="(subResourceInfo$ | async) as resources">
    <ng-template
        appRenderer
        [renderInfo]="resources.channel"
        [formgroup]="formgroup"></ng-template>
    <ng-template
        appRenderer
        [renderInfo]="resources.branch"
        [formgroup]="formgroup"></ng-template>
    <ng-template
        appRenderer
        [renderInfo]="resources.branchOther"
        [formgroup]="formgroup"></ng-template>
    <ng-template
        appRenderer
        [renderInfo]="resources.loanType"
        [formgroup]="formgroup"></ng-template>
    <ng-template *ngIf="resources.consumerProduct"
        appRenderer
        [formgroup]="formgroup"
        [renderInfo]="resources.consumerProduct"></ng-template>
    <ng-template *ngIf="resources.mortgageProduct"
        appRenderer
        [formgroup]="formgroup"
        [renderInfo]="resources.mortgageProduct"></ng-template>
</ng-container>

<!-- <pre>
    {{subResourceInfo$ | async | json}}
</pre> -->
