<div debug>
    <button (click)="setContext()" class="pf-c-button pf-m-secondary" type="button">Trigger get</button>
</div>
<ng-container *ngIf="(subResourceInfo$ | async) as resources">
    <ng-template appRenderer [renderInfo]="resources.channel"></ng-template>
    <ng-template appRenderer [renderInfo]="resources.branch"></ng-template>
    <ng-template appRenderer [renderInfo]="resources.branchOther"></ng-template>
    <ng-template appRenderer [renderInfo]="resources.loanType"></ng-template>
    <ng-template appRenderer [renderInfo]="resources.consumerProduct"></ng-template>
    <ng-template appRenderer [renderInfo]="resources.mortgageProduct"></ng-template>
</ng-container>
<div debug class="explanation">
    <h3>Application component</h3>
    <p>Someone rendered me and passed me a resource name. I just know the names of the properties I am expecting and that they are resouces.</p>
    <pre><strong>application cmp resources data:</strong>{{subResourceInfo$ | async | json}}</pre>
</div>
