:host {
    display: block;
    padding:1em;
    border: 1px solid #dedede;
}

div.button-cantmove {
    padding: 0 4em;
    position: relative;
    width: 100%;

    span {
        padding: 2em;
        display: inline-block;
        width: 200px;
        height: 150px;
        position: absolute;
        left: 2%;
        top: 0;
    }

    span.goright {
        left: auto;
        right: 2%;
        top: 0;
    }
}